.form-wrapper {
  padding: 80px 0 87px 0;
  .container {
    background: $pryme;
    border: 1px solid #ededed;
    @include border-radius(50px);
  }
  h2 {
    text-align: center;
    padding: 0.5em 0;
    margin: 0;
  }
}
#personalData .form-group.controllBtn {
  float: right;
  width: 45%;
  margin: 0 auto;;
}
.reg-form {
  .control-label {
    font-size: 0.5em;
    text-transform: uppercase;
    color: #6e6e6e;
  }
  .form-control {
    @include border-radius(50px);
    background: #fafafa;
  }
  .main-form {
    padding: 1em;
  }
  .form-group {
    margin-bottom: 1em;
  }
  .tab {
    text-align: center;
    line-height: 60%;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 0.5em;
    box-sizing: content-box;
  }
  .active {
    border-bottom: 2px solid $akcent;
  }
  .tab a{
    font-size: 0.64em;
    color: #a9abae;
    line-height: 15px;
  }

}

textarea {
  @include border-radius(19px);
  width: 100%;
  height: 106px;
  outline: none;
  resize: none;
  font-size: 14px;
  background: #fafafa;
  padding: 0.7em;
}

// Fake upload button
.upload {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  height: 36px;
  line-height: 34px;
  @include border-radius(50px);
  background: #fafafa;
  border: 1px solid #ccc;
}

.upload > button{
  float: right;
  height: 100%;
  padding: 0px 16px;
  border: 0;
  outline: none;
}
.upload > div{
    padding-left: 1em
}
// Real upload button hidden
.upload input[type=file]{
  border: 2px solid;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

@media only screen and ( max-width: 500px ){
    .upload > div{
        display: none
    }
    .upload > button{
        width: 100%
    }
}

.controllBtn {
  margin: 2.3em 0 0 0;
  @include border-radius(100px);
  @include transition(all,.2s,ease-out);
  background: $akcent;
  border: 1px solid $akcent;
  outline: none;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  a {
    color: $pryme;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &:hover,&:focus {
    background: $pryme;
    a {
      color: $akcent;
    }
  }
}
.ctrl-btn-wrapper {
  position: relative;
}
.submitBtn {
  input {
    @extend .controllBtn;
    width: 100%;
    color: $pryme;
    text-transform: uppercase;
    &:hover,&:focus {
      background: $pryme;
      color: $akcent;
    }
  }
  position: absolute !important;
  right: -26px;
  width: 70% !important;
}
.prevBtn {
  @extend .controllBtn;
  background: #a9abae;
  border: 1px solid #a9abae;
  width: 35% !important;
  margin-right: 2%;
}
