@charset "UTF-8";

.header-wrapper {
  background: url('img/header-bg.jpg') no-repeat 100% 30%;
  background-size: cover;
  max-width: 100%;
  padding: 100px 0 212px 0;
}

header {
  color: $akcent;
}

.logo {
  /*
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background: rgba(0,0,0, 0.87);
  font-weight: 300;
  .big {
    text-transform: uppercase;
    width: 50%;
  }*/
  background: url('img/logo.png') no-repeat 0% 0%;
  height: 63px;
  margin-bottom: 25px;
}
.hero {
  text-align: center;
  padding: 70px 0px 50px 0px;
  background: rgba(0,0,0, 0.6);

  h1 {
    font-size: 2.07em;
    font-weight: 600;
    padding: 25px 0;
    line-height: 70px;
  }
  .lite-text {
    font-weight: 300;
    font-variant: thin;
  }
  p {
    font-size: 0.9em;
    max-width: 1050px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 35px;
    padding-top: 24px;
  }
}
